<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="../styles/ionic.min.css" />
	<link rel="stylesheet" type="text/css" href="../styles/ionic-hacks-list.css" />
	<link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
	<link rel="stylesheet" type="text/css" href="../styles/font-sf.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<script src="../scripts/ionic.bundle.min.js"></script>
</head>

<body ng-app="starter">

	<ion-pane>
		<ion-header-bar class="bar-positive">
			<h1 class="title">ListViews</h1>
		</ion-header-bar>
		<ion-content class="has-header has-tabs">
		</ion-content>

		<ion-tabs class="tabs-positive tabs-icon-left">

			<ion-tab title="Avatars">
				<ion-content class="list-tabs-content">

					<div class="list">

						<a class="item item-avatar" href="#">
							<img src="../images/arcade-fire.jpg">
							<h2>Arcade Fire</h2>
							<p>Funeral</p>
						</a>
						<a class="item item-avatar" href="#">
							<img src="../images/bon-iver.jpg">
							<h2>Bon Iver</h2>
							<p>For Emma, Forever Ago</p>
						</a>
						<a class="item item-avatar" href="#">
							<img src="../images/daft-punk.jpg">
							<h2>Daft Punk</h2>
							<p>Random Access Memories</p>
						</a>
						<a class="item item-avatar" href="#">
							<img src="../images/elbow.jpg">
							<h2>Elbow</h2>
							<p>Build a Rocket Boys!</p>
						</a>
						<a class="item item-avatar" href="#">
							<img src="../images/lcd-soundsystem.jpg">
							<h2>LCD Soundsystem</h2>
							<p>This is Happening</p>
						</a>
						<a class="item item-avatar" href="#">
							<img src="../images/lucius.jpg">
							<h2>Lucius</h2>
							<p>Wildewoman</p>
						</a>
						<a class="item item-avatar" href="#">
							<img src="../images/m83.jpg">
							<h2>M83</h2>
							<p>Hurry Up, We're Dreaming</p>
						</a>
						<a class="item item-avatar" href="#">
							<img src="../images/peter-bjorn-and-john.jpg">
							<h2>Peter Bjorn and John</h2>
							<p>Writer's Block</p>
						</a>
						<a class="item item-avatar" href="#">
							<img src="../images/phosphorescent.jpg">
							<h2>Phosphorescent</h2>
							<p>Muchacho</p>
						</a>
						<a class="item item-avatar" href="#">
							<img src="../images/sylvan-esso.jpg">
							<h2>Sylvan Esso</h2>
							<p>Sylvan Esso</p>
						</a>
						<a class="item item-avatar" href="#">
							<img src="../images/the-national.jpg">
							<h2>The National</h2>
							<p>Trouble Will Find Me</p>
						</a>
						<a class="item item-avatar" href="#">
							<img src="../images/yeah-yeah-yeahs.jpg">
							<h2>Yeah Yeah Yeahs</h2>
							<p>Fever to Tell</p>
						</a>

					</div>

				</ion-content>
			</ion-tab>

			<ion-tab title="Thumbs">
				<ion-content class="list-tabs-content">

					<div class="list">

						<a class="item item-thumbnail-left" href="#">
							<img src="../images/arcade-fire.jpg">
							<div class="item-text-center">
								<h2>Arcade Fire</h2>
							</div>
						</a>
						<a class="item item-thumbnail-left" href="#">
							<img src="../images/bon-iver.jpg">
							<div class="item-text-center">
								<h2>Bon Iver</h2>
							</div>
						</a>
						<a class="item item-thumbnail-left" href="#">
							<img src="../images/daft-punk.jpg">
							<div class="item-text-center">
								<h2>Daft Punk</h2>
							</div>
						</a>
						<a class="item item-thumbnail-left" href="#">
							<img src="../images/elbow.jpg">
							<div class="item-text-center">
								<h2>Elbow</h2>
							</div>
						</a>
						<a class="item item-thumbnail-left" href="#">
							<img src="../images/lcd-soundsystem.jpg">
							<div class="item-text-center">
								<h2>LCD Soundsystem</h2>
							</div>
						</a>
						<a class="item item-thumbnail-left" href="#">
							<img src="../images/lucius.jpg">
							<div class="item-text-center">
								<h2>Lucius</h2>
							</div>
						</a>
						<a class="item item-thumbnail-left" href="#">
							<img src="../images/m83.jpg">
							<div class="item-text-center">
								<h2>M83</h2>
							</div>
						</a>
						<a class="item item-thumbnail-left" href="#">
							<img src="../images/peter-bjorn-and-john.jpg">
							<div class="item-text-center">
								<h2>Peter Bjorn and John</h2>
							</div>
						</a>
						<a class="item item-thumbnail-left" href="#">
							<img src="../images/phosphorescent.jpg">
							<div class="item-text-center">
								<h2>Phosphorescent</h2>
							</div>
						</a>
						<a class="item item-thumbnail-left" href="#">
							<img src="../images/sylvan-esso.jpg">
							<div class="item-text-center">
								<h2>Sylvan Esso</h2>
							</div>
						</a>
						<a class="item item-thumbnail-left" href="#">
							<img src="../images/the-national.jpg">
							<div class="item-text-center">
								<h2>The National</h2>
							</div>
						</a>
						<a class="item item-thumbnail-left" href="#">
							<img src="../images/yeah-yeah-yeahs.jpg">
							<div class="item-text-center">
								<h2>Yeah Yeah Yeahs</h2>
							</div>
						</a>

					</div>

				</ion-content>
			</ion-tab>

			<ion-tab title="Basic">
				<ion-content class="list-tabs-content">

					<ul class="list">
						<li class="item">
							<h2>Arcade Fire</h2>
						</li>
						<li class="item">
							<h2>Bon Iver</h2>
						</li>
						<li class="item">
							<h2>Daft Punk</h2>
						</li>
						<li class="item">
							<h2>Elbow</h2>
						</li>
						<li class="item">
							<h2>LCD Soundsystem</h2>
						</li>
						<li class="item">
							<h2>Lucius</h2>
						</li>
						<li class="item">
							<h2>M83</h2>
						</li>
						<li class="item">
							<h2>Peter Bjorn and John</h2>
						</li>
						<li class="item">
							<h2>Phosphorescent</h2>
						</li>
						<li class="item">
							<h2>Sylvan Esso</h2>
						</li>
						<li class="item">
							<h2>The National</h2>
						</li>
						<li class="item">
							<h2>Yeah Yeah Yeahs</h2>
						</li>
					</ul>

				</ion-content>
			</ion-tab>

		</ion-tabs>

	</ion-pane>

	<script>
		angular.module('starter', ['ionic']);
	</script>

</body>

</html>