@import url("ionic-hacks-global.css");

.header-md .title {
    padding-left: 40px;
}

.tab-title {
    font-size: 14px;
}

.tabs {
    border-color: #b2b2b2 !important;
}

.list-tabs-content {
    padding-top: 44px;
}

.item-text-center
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
}

.tabs-content {
    padding: 50px 10px 0px 10px;
}

/*
.tabs {
    border-color: #b2b2b2 !important;
}*/