@import url("ionic-hacks-global.css");

.list-tabs-content {
    padding-top: 44px;
}

.list-tabs-content-android {
    padding-top: 88px;
}

.item-thumbnail-left img {
    border-radius: 5px;
}

.tab-title {
    font-size: 14px;
}

.tabs {
    border-color: #b2b2b2 !important;
}